@font-face {
  font-family: 'Conv_Amaranth';
  src: url('../fonts/Amaranth.eot');
  src: local('☺'), url('../fonts/Amaranth.woff') format('woff'), url('../fonts/Amaranth.ttf') format('truetype'), url('../fonts/Amaranth.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Amaranth-Italic';
  src: url('../fonts/Amaranth-Italic.eot');
  src: local('☺'), url('../fonts/Amaranth-Italic.woff') format('woff'), url('../fonts/Amaranth-Italic.ttf') format('truetype'), url('../fonts/Amaranth-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Amaranth-Bold';
  src: url('../fonts/Amaranth-Bold.eot');
  src: local('☺'), url('../fonts/Amaranth-Bold.woff') format('woff'), url('../fonts/Amaranth-Bold.ttf') format('truetype'), url('../fonts/Amaranth-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  line-height: 1.4;
  font-family: "Trebuchet MS", sans-serif;
  color: #ffffff;
  height: 100%;
  background: #f7f1e9 /*url("../img/backgrounds/bg.jpg") center top no-repeat */;
  position: relative;
}
::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: underline;
}
img {
  vertical-align: middle;
}
input,
textarea {
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input,
textarea,
select {
  font-family: "Trebuchet MS", sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
fieldset,
table,
td,
p {
  margin: 0;
  padding: 0;
  border: 0;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
#inicio {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fab02d url("../img/backgrounds/login.jpg") center top repeat-x;
  text-align: center;
  padding: 117px 0;
}
#inicio .alinha {
  display: inline-block;
  width: 242px;
}
#inicio .logo {
  background: url("../img/logos/inicio.png") 0 0 no-repeat;
  width: 216px;
  height: 118px;
  margin: 0 auto 39px auto;
}
#inicio .login .input,
#inicio .esqueci .input,
#inicio .criar .input {
  background: url("../img/backgrounds/input-login.png") 0 0 no-repeat;
  width: 242px;
  height: 38px;
  margin: 0 0 8px 0;
}
#inicio .login .input input,
#inicio .esqueci .input input,
#inicio .criar .input input {
  font-size: 18px;
  color: #ffffff;
  font-style: italic;
  width: 232px;
  margin: 7px 5px;
  text-align: center;
}
#inicio .login .submit,
#inicio .esqueci .submit,
#inicio .criar .submit {
  background: url("../img/botoes/inicio-entrar.png") 0 0 no-repeat;
  width: 242px;
  height: 38px;
}
#inicio .esqueci .submit{
  background: url("../img/botoes/inicio-enviar.png") 0 0 no-repeat;
}
#inicio .login .submit input,
#inicio .esqueci .submit input,
#inicio .criar .submit input {
  width: 242px;
  height: 38px;
}
#inicio .login .submit.salvar,
#inicio .esqueci .submit.salvar,
#inicio .criar .submit.salvar {
  background: url("../img/botoes/inicio-salvar.png") 0 0 no-repeat;
}
#inicio .login .esqueceu,
#inicio .esqueci .esqueceu,
#inicio .criar .esqueceu,
#inicio .login .login-voltar,
#inicio .esqueci .login-voltar,
#inicio .criar .login-voltar {
  font-size: 13px;
  display: block;
  margin: 16px 0;
}
#inicio .login .enviada,
#inicio .esqueci .enviada,
#inicio .criar .enviada {
  font-size: 18px;
  display: block;
  margin: 16px 0;
  display: none;
}
#inicio .login .login-voltar,
#inicio .esqueci .login-voltar,
#inicio .criar .login-voltar {
  background: url("../img/icones/seta-login.png") 0 6px no-repeat;
  display: inline-block;
  margin-left: -22px;
  padding-left: 22px;
}
#inicio .login.esqueci,
#inicio .esqueci.esqueci,
#inicio .criar.esqueci {
  display: none;
}
#wrap {
  width: 960px;
  margin: 0 auto;
}
#topo {
  background: url("../img/backgrounds/nav.jpg") center top repeat-x;
  width: 100%;
  height: 61px;
}
#topo .logo {
  background: url("../img/logos/todos.png") center top repeat-x;
  width: 82px;
  height: 45px;
  float: left;
  margin: 9px 18px 0 21px;
}
#topo nav .nav1 {
  font-family: 'Conv_Amaranth';
  font-size: 24px;
  float: left;
}
#topo nav .nav1 li {
  float: left;
  position: relative;
  z-index: 1;
  border-right: 1px solid #de9238;
  width: auto;
  height: 61px;
}
#topo nav .nav1 li:hover .nav2 {
  display: block;
}
#topo nav .nav1 li a {
  margin: 13px 18px 0 18px;
  display: block;
}
#topo nav .nav1 li .nav2 {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 2;
  zoom: 1;
  width: 190px;
}
#topo nav .nav1 li .nav2 li {
  width: 100%;
  background: #de9238;
  border-top: 1px solid #c78332;
  float: none;
  position: relative;
}
#topo nav .nav1 li .nav2 li a {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin: 16px 0 0 18px;
  height: 28px;
}
#topo .menu {
  float: right;
}
#topo .menu li {
  float: left;
  border-right: 1px solid #de9238;
  height: 61px;
}
#topo .menu li a {
  float: left;
  margin: 0 10px;
}
#topo .menu li a.novo-quiz {
  background: url("../img/botoes/novo-quiz.png") 0 0 no-repeat;
  width: 128px;
  height: 38px;
  margin-top: 11px;
}
#topo .menu li a.sair {
  font-family: 'Conv_Amaranth';
  font-size: 24px;
  height: 33px;
  margin: 14px 18px 0 18px;
}
#topo-dois {
  background: url("../img/backgrounds/nav-dois.jpg") 0 0 repeat-x;
  height: 137px;
}
#topo-dois .logo {
  background: url("../img/logos/tipo.png") 0 0 no-repeat;
  width: 119px;
  height: 47px;
  float: left;
  margin: 33px 0 0 21px;
}
#topo-dois .descricao {
  float: left;
  margin: 30px 0 0 20px;
  line-height: 220%;
}
#topo-dois .descricao p {
  font-family: 'Conv_Amaranth';
  font-size: 22px;
}
#topo-dois .descricao span {
  font-size: 16px;
}
#topo-dois .salvar-e-sair {
  background: url("../img/botoes/salvar-e-sair.png") 0 0 no-repeat;
  width: 129px;
  height: 38px;
  float: right;
  margin: 38px 10px 0 0;
}
#topo-dois .salvar-e-sair:hover {
  background-position: 0 -38px;
}
#topo-dois .salvar-e-sair:active {
  background-position: 0 -76px;
}
#conteudo {
  width: 100%;
  /*Perfil2*/

  /*Perfil3*/

  /*Perfil4*/

  /*Certo ou Errado 1*/

  /*Certo ou Errado 2*/

  /*Varias Respostas 1*/

}
#conteudo .conteudo-box {
  padding: 13px 20px;
  background: #ffffff;
  border: 1px solid #e6e1da;
  margin: 29px auto;
}
#conteudo .box {
  width: 100%;
}
#conteudo .box thead {
  color: #fab02d;
  font-size: 32px;
  font-family: 'Conv_Amaranth-Italic';
}
#conteudo .box thead td {
  border-bottom: 2px solid #e6e1da;
  padding: 0 0 8px 0;
}
#conteudo .box tbody .texto {
  float: left;
}
#conteudo .box tbody .texto p {
  font-family: 'Conv_Amaranth-Bold';
  font-size: 24px;
  color: #cc1e59;
  line-height: 80%;
}
#conteudo .box tbody .texto span {
  color: #666666;
  line-height: 210%;
}
#conteudo .box tbody .botoes {
  float: right;
}
#conteudo .box tbody .botoes .ver-e-embutir {
  background: url("../img/botoes/ver-e-embutir.png") 0 0 no-repeat;
  width: 149px;
  height: 38px;
  float: left;
}
#conteudo .box tbody .botoes .ver-e-embutir.desabilitado {
  background-position: 0 -38px;
}
#conteudo .box tbody .botoes .editar-usuario {
  background: url("../img/botoes/usuarioFuncoes.png") 0 0 no-repeat;
  width: 101px;
  height: 38px;
  float: left;
}
#conteudo .box tbody .botoes .excluir-usuario{
  background: url("../img/botoes/usuarioFuncoes.png") -101px 0 no-repeat;
  width: 100px;
  height: 38px;
  float: left;
}
#conteudo .box tbody .botoes .menu-editar {
  float: left;
}
#conteudo .box tbody .botoes .menu-editar li {
  position: relative;
}
#conteudo .box tbody .botoes .menu-editar li:hover .nav2 {
  display: block;
}
#conteudo .box tbody .botoes .menu-editar .editar {
  background: url("../img/botoes/editar.png") 0 0 no-repeat;
  width: 101px;
  height: 38px;
  float: left;
}
#conteudo .box tbody .botoes .menu-editar .nav2 {
  position: absolute;
  top: 38px;
  right: 0;
  z-index: 2;
  zoom: 1;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  width: 170px;
  display: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#conteudo .box tbody .botoes .menu-editar .nav2 li a {
  font-size: 15px;
  color: #666666;
  padding: 7px 10px;
  display: block;
}
#conteudo .box tbody .botoes .menu-editar .nav2 li a:hover {
  background-color: #cd1e5a;
  color: #ffffff;
  text-decoration: none;
}
#conteudo .box tbody td {
  border-bottom: 1px solid #cccccc;
  padding: 21px 0 10px 0;
}
#conteudo .box tfoot {
  text-align: center;
}
#conteudo .box tfoot .carregar-mais {
  font-size: 15px;
  color: #ce1f5c;
  display: block;
  width: 100%;
  padding: 30px 22px 30px 20px;
  margin: 20px 0 -14px -22px;
  border: 1px solid #e6e1da;
  background: #fbf8f4;
}

#conteudo .box tfoot .carregar-mais strong{
  font-size: 15px;
  color: gray;
  padding: 5px 10px;
  margin: 20px 5px 0px 10px;
  border: 1px solid #e6e1da;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fff;
}

#conteudo .box tfoot .carregar-mais a{
  font-size: 15px;
  color: #ce1f5c;
  padding: 5px 10px;
  margin: 20px 5px 0px 5px;
  border: 1px solid #e6e1da;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fbf8f4;
}

#conteudo .box tfoot .carregar-mais a:hover{
  font-size: 15px;
  color: #666;
  padding: 5px 10px;
  margin: 20px 5px 0px 5px;
  text-decoration: none;
  border: 1px solid #e6e1da;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fbf8f4;
}

#conteudo .box tfoot .carregar-mais-usuarios {
  font-size: 15px;
  color: #ce1f5c;
  display: block;
  width: 100%;
  padding: 30px 22px 30px 20px;
  margin: 20px 0 -14px -22px;
  border: 1px solid #e6e1da;
  background: #fbf8f4;
}
#conteudo .novo {
  width: 100%;
}
#conteudo .novo .novo-inner {
  margin: 24px 0 0 0;
}
#conteudo .novo thead {
  color: #fab02d;
  font-size: 32px;
  font-family: 'Conv_Amaranth-Italic';
}
#conteudo .novo thead td {
  border-bottom: 2px solid #e6e1da;
  padding: 0 0 8px 0;
}
#conteudo .novo tbody label {
  display: block;
  font-size: 18px;
  color: #333333;
  margin: 14px 0 3px 0;
}
#conteudo .novo tbody .input {
  background: url("../img/backgrounds/input-novo.png") 0 0 repeat-x;
  display: inline-block;
  border-left: 1px solid #e6e1da;
  border-right: 1px solid #e6e1da;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#conteudo .novo tbody .input input {
  font-style: italic;
  font-size: 15px;
  color: #666666;
  width: 520px;
  margin: 9px 10px;
}
#conteudo .criar-quiz {
  background: url("../img/botoes/criar-quiz.png") 0 0 no-repeat;
  width: 176px;
  height: 57px;
  float: left;
  margin: 0 20px;
}
#conteudo .nav-perfil {
  margin: -27px 0 0 0;
  width: 100%;
  display: inline-block;
}
#conteudo .nav-perfil a {
  float: left;
  background: url("../img/botoes/nav-perfil.png") 0 0 no-repeat;
  width: 230px;
  height: 50px;
  position: relative;
  z-index: 1;
  zoom: 1;
}
#conteudo .nav-perfil .anterior {
  float: left;
  background: url("../img/botoes/nav-perfil.png") 0 0 no-repeat;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 2;
}
#conteudo .nav-perfil a.perfis {
  background-position: 0 -50px;
  margin: 0 0 0 -11px;
}
#conteudo .nav-perfil a.perfis:hover {
  background-position: -460px -50px;
}
#conteudo .nav-perfil a.perfis.ativo {
  background-position: -230px -50px;
}
#conteudo .nav-perfil a.perguntas {
  background-position: 0 -100px;
  margin: 0 0 0 -11px;
}
#conteudo .nav-perfil a.perguntas:hover {
  background-position: -460px -100px;
}
#conteudo .nav-perfil a.perguntas.ativo {
  background-position: -230px -100px;
}
#conteudo .nav-perfil a.customizacao {
  background-position: 0 -150px;
  margin: 0 0 0 -11px;
}
#conteudo .nav-perfil a.customizacao:hover {
  background-position: -460px -150px;
}
#conteudo .nav-perfil a.customizacao.ativo {
  background-position: -230px -150px;
}
#conteudo .nav-perfil a.visualizacao {
  background-position: 0 -200px;
  margin: 0 0 0 -11px;
}
#conteudo .nav-perfil a.visualizacao:hover {
  background-position: -460px -200px;
}
#conteudo .nav-perfil a.visualizacao.ativo {
  background-position: -230px -200px;
}
#conteudo .nav-perfil a.faixasClassificacao {
  background-position: 0 -250px;
  margin: 0 0 0 -11px;
}
#conteudo .nav-perfil a.faixasClassificacao:hover {
  background-position: -460px -250px;
}
#conteudo .nav-perfil a.faixasClassificacao.ativo {
  background-position: -230px -250px;
}
#conteudo .nav-perfil .proximo {
  float: left;
  background: url("../img/botoes/nav-perfil.png") -50px 0 no-repeat;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 0 0 -16px;
  z-index: 2;
}
#conteudo .proxima-etapa {
  background: url("../img/botoes/proxima-etapa.png") 0 0 no-repeat;
  width: 173px;
  height: 50px;
  float: left;
  margin: 30px 20px;
}
#conteudo .proxima-etapa:hover {
  background-position: 0 -50px;
}
#conteudo .proxima-etapa:active {
  background-position: 0 -100px;
}
#conteudo .holder {
  float: left;
  background: #ffffff;
  width: 100%;
  border: 1px solid #e6e1da;
  margin: 30px 0 0 0;
}
#conteudo .holder .novo-perfil {
  background: url("../img/botoes/novo-perfil.png") 0 0 no-repeat;
  width: 139px;
  height: 38px;
  float: left;
  margin: 20px;
}
#conteudo .sorteia {
  margin-top: 9px;
  float: left;
}
#conteudo .sorteia .header {
  float: left;
  background: #ffffff;
  border: 1px solid #e6e1da;
  width: 920px;
  padding: 10px 0;
  margin-top: 15px;
  margin-left: 20px;
}
#conteudo .sorteia .header .icon {
  background: url("../img/icones/move.png") 0 0 no-repeat;
  width: 60px;
  height: 60px;
  float: left;
  margin: -11px 0 -11px -1px;
  cursor: move;
}
#conteudo .sorteia .header .icon:hover {
  background-position: -60px 0;
}

#conteudo .sorteia .header .excluir {
  background: url("../img/icones/excluir.png") 0 0 no-repeat;
  width: 59px;
  height: 60px;
  float: left;
  margin: -11px 5px -11px -1px;
  cursor: pointer;
}
#conteudo .sorteia .header .excluir:hover {
  background-position: -60px 0;
}

#conteudo .sorteia .header .input {
  float: left;
  background: url("../img/backgrounds/input-novo.png") 0 0 repeat-x;
  border-left: 1px solid #e6e1da;
  border-right: 1px solid #e6e1da;
  margin: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
#conteudo .sorteia .header .input input {
  width: 456px;
  margin: 9px 10px;
  font-style: italic;
  font-size: 15px;
  color: #666666;
}
#conteudo #perguntas,
#conteudo #respostas {
  float: left;
  width: 960px;
}
#conteudo #respostas {
  background: #fbf8f4;
  border-top: 1px solid #e6e1da;
  margin: 30px 0 -20px -20px;
  padding-bottom: 20px;
}
#conteudo .titulo-perguntas,
#conteudo .titulo-respostas {
  font-family: 'Conv_Amaranth-Italic';
  font-size: 24px;
  color: #333333;
  margin: 35px 0 0 0;
  float: left;
}
#conteudo .titulo-respostas {
  padding: 0 0 0 20px;
  margin: 25px 0 0 0;
}
#conteudo .nova-resposta {
  background: url("../img/botoes/nova-resposta.png") 0 0 no-repeat;
  width: 171px;
  height: 38px;
  float: left;
  margin: 20px;
}
#conteudo .nova-resposta:hover {
  background-position: 0 -38px;
}
#conteudo .nova-resposta:active {
  background-position: 0 -76px;
}
#conteudo .nova-pergunta {
  background: url("../img/botoes/nova-pergunta.png") 0 0 no-repeat;
  width: 171px;
  height: 38px;
  float: left;
  margin: 20px;
}
#conteudo .nova-pergunta:hover {
  background-position: 0 -38px;
}
#conteudo .nova-pergunta:active {
  background-position: 0 -76px;
}
#conteudo .voltar {
  background: url("../img/botoes/voltar.png") 0 0 no-repeat;
  width: 173px;
  height: 50px;
  float: left;
  margin: 30px 10px;
}
#conteudo .voltar:hover {
  background-position: 0 -50px;
}
#conteudo .voltar:active {
  background-position: 0 -100px;
}
#conteudo .item {
  float: left;
}
#conteudo .item .header {
  float: left;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e6e1da;
  border-right: 0;
  margin: 30px 0 0 0;
}
#conteudo .item .header .titulo {
  font-family: 'Conv_Amaranth-Italic';
  font-size: 32px;
  color: #fab02d;
  float: left;
  margin: 8px 0 0 18px;
}
#conteudo .item .header .arrow {
  background: url("../img/icones/accordion3.png") 0 0 no-repeat;
  width: 64px;
  height: 62px;
  margin: -1px 0 0 0;
  float: right;
  cursor: pointer;
}
#conteudo .item .header.ui-state-default .arrow {
  background-position: 0 0;
}
#conteudo .item .header.ui-state-default .arrow:hover {
  background-position: -64px 0;
}
#conteudo .item .header.ui-state-active .arrow {
  background-position: 0 -64px;
  cursor: default;
}
#conteudo .item .header.ui-state-active .arrow:hover {
  background-position: -64px -64px;
}
#conteudo .item .body {
  background: #fbf8f4;
  border: 1px solid #e6e1da;
  border-top: 0;
  float: left;
  width: 920px;
  padding: 20px;
}
#conteudo .item .body .preview {
  float: right;
  background: #faab2a;
  width: 620px;
}
#conteudo .item .body .preview #nome {
  font-family: 'Conv_Amaranth-Bold';
  font-size: 20px;
  color: #333333;
  margin: 13px 19px;
}
#conteudo .item .body .preview #texto {
  color: #333333;
  float: left;
  width: 315px;
  margin: 0 0 0 20px;
}
#conteudo .item .body .preview #texto .acertos {
  font-family: 'Conv_Amaranth';
  font-size: 15px;
  color: #333333;
}
#conteudo .item .body .preview #texto .titulo {
  font-family: 'Conv_Amaranth';
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 120%;
}
#conteudo .item .body .preview #texto .subtitulo {
  font-family: 'Conv_Amaranth-Italic';
  font-size: 16px;
  line-height: 120%;
  text-decoration: underline;
}
#conteudo .item .body .preview #texto .subtitulo a {
  color: #333333;
}
#conteudo .item .body .preview #texto .respostas {
  font-family: 'Conv_Amaranth';
  font-size: 15px;
  line-height: 120%;
  margin: 19px 0;
}
#conteudo .item .body .preview #texto .respostas td {
  vertical-align: top;
  padding: 0 3px 10px 3px;
}
#conteudo .item .body .preview #texto .resultado {
  font-family: 'Conv_Amaranth';
  font-size: 18px;
}
#conteudo .item .body .preview #texto .resultado p {
  letter-spacing: -1px;
  line-height: 120%;
  margin: 5px 0 20px;
}
#conteudo .item .body .preview #texto .resultado .saibaMais a {
  color: #333333;
  font-size: 15px;
}
#conteudo .item .body .preview #texto #botoesResultado {
  float: left;
  margin: 57px 0 22px 0;
  width: 280px;
}
#conteudo .item .body .preview #texto #botoesResultado a {
  background-color: #cc1e59;
  color: #ffffff;
  float: left;
  width: 110px;
  height: 40px;
  font-family: 'Conv_Amaranth';
  font-size: 15px;
  text-align: center;
  line-height: 270%;
}
#conteudo .item .body .preview #texto #botoesResultado a.anterior {
  float: left;
  width: 160px;
}
#conteudo .item .body .preview #texto #botoesResultado a.proximo {
  float: right;
}
#conteudo .item .body .preview #imagem {
  width: 240px;
  height: 260px;
  background: #fdd595;
  overflow: hidden;
  float: right;
  border: 2px solid #333333;
  margin: 2px 16px 0 0;
}
#conteudo .item .body .preview #imagem img {
  width: 240px;
  height: 260px;
}
#conteudo .item .body .preview #botoes {
  float: left;
  width: 580px;
  margin: 20px;
}
#conteudo .item .body .preview #botoes a {
  background-color: #cc1e59;
  color: #ffffff;
  float: left;
  width: 110px;
  height: 40px;
  font-family: 'Conv_Amaranth';
  font-size: 15px;
  text-align: center;
  line-height: 270%;
}
#conteudo .item .body .preview #botoes a.anterior {
  float: left;
}
#conteudo .item .body .preview #botoes a.proximo {
  float: right;
}
#conteudo .item .body .editor {
  float: left;
  background: #ffffff;
  color: #333333;
  width: 280px;
}
#conteudo .item .body .editor .intro {
  font-family: 'Conv_Amaranth-Italic';
  font-size: 24px;
  width: 280px;
  float: left;
  border: 1px solid #e6e1da;
  height: 56px;
}
#conteudo .item .body .editor .intro p {
  margin: 12px 22px;
  float: left;
  letter-spacing: -1px;
}
#conteudo .item .body .editor .intro.ui-state-default span {
  background: url('../img/icones/accordion2.png') 0 -58px no-repeat;
  width: 58px;
  height: 58px;
  float: right;
  margin: -1px -1px 0 0;
}
#conteudo .item .body .editor .intro.ui-state-default span:hover {
  background-position: -58px -58px;
}
#conteudo .item .body .editor .intro.ui-state-active span {
  background: url('../img/icones/accordion2.png') 0 0 no-repeat;
  width: 58px;
  height: 58px;
  float: right;
  margin: -1px -1px 0 0;
}
#conteudo .item .body .editor .intro.ui-state-active span:hover {
  background-position: -58px 0;
}
#conteudo .item .body .editor .content {
  width: 240px;
  padding: 13px 20px;
  float: left;
  border: 1px solid #e6e1da;
  border-top: 0;
  border-bottom: 0;
}
#conteudo .item .body .editor .content p {
  font-size: 18px;
  display: block;
  clear: both;
}
#conteudo .item .body .editor .content p.alinha {
  margin: 17px 0 4px 0;
  float: left;
  width: 100%;
}
#conteudo .item .body .editor .content .input-picker {
  background: url("../img/backgrounds/input-novo.png") repeat-x 0 0 transparent;
  border-left: 1px solid #E6E1DA;
  border-radius: 6px;
  display: inline-block;
}
#conteudo .item .body .editor .content .input-picker input {
  background-color: transparent !important;
  color: #333333!important;
  font-family: "Trebuchet MS", sans-serif !important;
  font-size: 15px!important;
  font-style: italic;
  margin: 9px 0 0 10px;
  width: 63px;
}
#conteudo .item .body .editor .content .input-picker .jPicker {
  float: right;
}
#conteudo .item .body .editor .content #alinha-inner {
  display: block;
  clear: both;
}
#conteudo .item .body .editor .content #alinha-inner div {
  width: 38px;
  height: 38px;
  float: left;
  background: url("../img/icones/alinhamento.png") 0 0 no-repeat;
  cursor: pointer;
}
#conteudo .item .body .editor .content #alinha-inner div#left {
  background-position: 0 0;
}
#conteudo .item .body .editor .content #alinha-inner div#left.ativo {
  background-position: 0 -38px;
}
#conteudo .item .body .editor .content #alinha-inner div#center {
  background-position: -38px 0;
  width: 37px;
}
#conteudo .item .body .editor .content #alinha-inner div#center.ativo {
  background-position: -38px -38px;
}
#conteudo .item .body .editor .content #alinha-inner div#right {
  background-position: -75px 0;
  width: 37px;
}
#conteudo .item .body .editor .content #alinha-inner div#right.ativo {
  background-position: -75px -38px;
}
#conteudo .item .body .editor .content #alinha-inner div#justify {
  background-position: -112px 0;
  width: 37px;
}
#conteudo .item .body .editor .content #alinha-inner div#justify.ativo {
  background-position: -112px -38px;
}
#conteudo .item .body .editor .content #imagem-preview img {
  width: 240px;
  /*height: 260px;*/
}
#conteudo .item .body .editor .content .fileinput-button {
  float: left;
}
#conteudo #perfilVisualizacao {
  margin: 35px 0 35px 10px;
}
#conteudo #perfilVisualizacao .quiz {
  float: left;
  background: #faab2a;
  width: 620px;
}
#conteudo #perfilVisualizacao .quiz #nome {
  font-family: 'Conv_Amaranth-Bold';
  font-size: 20px;
  color: #333333;
  margin: 13px 19px;
}
#conteudo #perfilVisualizacao .quiz #texto {
  color: #333333;
  float: left;
  width: 315px;
  margin: 0 0 0 20px;
}
#conteudo #perfilVisualizacao .quiz #texto .titulo {
  font-family: 'Conv_Amaranth';
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 120%;
}
#conteudo #perfilVisualizacao .quiz #texto .subtitulo {
  font-family: 'Conv_Amaranth-Italic';
  font-size: 16px;
  line-height: 120%;
}
#conteudo #perfilVisualizacao .quiz #texto .subtitulo a {
  color: #333333;
}
#conteudo #perfilVisualizacao .quiz #texto .respostas {
  font-family: 'Conv_Amaranth';
  font-size: 15px;
  line-height: 120%;
  margin: 19px 0;
}
#conteudo #perfilVisualizacao .quiz #texto .respostas td {
  vertical-align: top;
  padding: 0 3px 10px 3px;
}
#conteudo #perfilVisualizacao .quiz #texto .resultado {
  font-family: 'Conv_Amaranth';
  font-size: 18px;
}
#conteudo #perfilVisualizacao .quiz #texto .resultado p {
  letter-spacing: -1px;
  line-height: 120%;
  margin: 5px 0 20px;
}
#conteudo #perfilVisualizacao .quiz #texto .resultado .saibaMais a {
  color: #333333;
  font-size: 15px;
}
#conteudo #perfilVisualizacao .quiz #texto #botoesResultado {
  float: left;
  margin: 57px 0 22px 0;
  width: 280px;
}
#conteudo #perfilVisualizacao .quiz #texto #botoesResultado a {
  background-color: #cc1e59;
  color: #ffffff;
  float: left;
  width: 110px;
  height: 40px;
  font-family: 'Conv_Amaranth';
  font-size: 15px;
  text-align: center;
  line-height: 270%;
}
#conteudo #perfilVisualizacao .quiz #texto #botoesResultado a.anterior {
  float: left;
  width: 160px;
}
#conteudo #perfilVisualizacao .quiz #texto #botoesResultado a.proximo {
  float: right;
}
#conteudo #perfilVisualizacao .quiz #imagem {
  width: 240px;
  height: 260px;
  background: #fdd595;
  overflow: hidden;
  float: right;
  border: 2px solid #333333;
  margin: 2px 16px 0 0;
}
#conteudo #perfilVisualizacao .quiz #imagem img {
  width: 240px;
  height: 260px;
}
#conteudo #perfilVisualizacao .quiz #botoes {
  float: left;
  width: 580px;
  margin: 20px;
}
#conteudo #perfilVisualizacao .quiz #botoes a {
  background-color: #cc1e59;
  color: #ffffff;
  float: left;
  width: 110px;
  height: 40px;
  font-family: 'Conv_Amaranth';
  font-size: 15px;
  text-align: center;
  line-height: 270%;
}
#conteudo #perfilVisualizacao .quiz #botoes a.anterior {
  float: left;
}
#conteudo #perfilVisualizacao .quiz #botoes a.proximo {
  float: right;
}
#conteudo #perfilVisualizacao #quizCode {
  display: none;
}
#conteudo #perfilVisualizacao .sidebar {
  float: left;
  margin: 4px 0 0 20px;
}
#conteudo #perfilVisualizacao .sidebar p {
  font-size: 18px;
  color: #333333;
  margin: 0 0 5px 0;
}
#conteudo #perfilVisualizacao .sidebar .textarea {
  background: url('../img/backgrounds/visTextarea.png') 0 0 no-repeat;
  width: 301px;
  height: 122px;
}
#conteudo #perfilVisualizacao .sidebar .textarea textarea {
  width: 292px!important;
  height: 118px!important;
  color: #666666;
  resize: none;
  margin: 3px 0 0 7px;
}
#conteudo #perfilVisualizacao .sidebar .copiarCodigo {
  background: url('../img/botoes/copiarCodigo.png') 0 0 no-repeat;
  width: 139px;
  height: 39px;
  float: left;
  margin: 10px 0;
}
#conteudo .radio {
  float: right;
  font-style: italic;
  font-size: 15px;
  color: #666666;
  margin: 8px 115px 0 0 ;
  position: relative;
}
#conteudo .radio .radioCustom {
  background: url('../img/icones/radio.png') 0 0 no-repeat;
  width: 18px;
  height: 18px;
  float: left;
  margin: 1px 4px 0 0;
}
#conteudo .radio .radioCustom.ui-state-active {
  background-position: 0 -18px !important;
}
#conteudo .radio .radioCustom.ui-state-default {
  background-position: 0 0;
}
#conteudo .radio .ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#conteudo .sliderHolder {
  width: 930px;
  position: relative;
}
#conteudo .sliderHolder #amountIni {
  font-size: 18px;
  color: #333333;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  zoom: 1;
}
#conteudo .sliderHolder #amountFin {
  font-size: 18px;
  color: #333333;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  zoom: 1;
  text-align: right;
}
#conteudo .ui-slider {
  background: url('../img/backgrounds/slider.png') center top no-repeat;
  width: 812px;
  height: 17px;
  margin: 15px 0 15px 55px;
  position: relative;
}
#conteudo .ui-slider-range {
  background: url('../img/backgrounds/sliderC.png') center top no-repeat;
  height: 17px;
  position: absolute;
}
#conteudo .ui-slider-handle {
  background: url('../img/backgrounds/sliderA.png') center top no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  z-index: 99;
  zoom: 1;
  top: -5px;
  margin-left: -13px;
}
#conteudo .novaFaixa {
  background: url("../img/botoes/novaFaixa.png") 0 0 no-repeat;
  width: 269px;
  height: 38px;
  float: left;
  margin: 20px;
}
#conteudo .checkbox {
  float: right;
  font-style: italic;
  font-size: 15px;
  color: #666666;
  margin: 8px 115px 0 0 ;
  position: relative;
}
#conteudo .checkbox .checkboxCustom {
  background: url('../img/icones/checkbox.png') 0 0 no-repeat;
  width: 18px;
  height: 18px;
  float: left;
  margin: 1px 4px 0 0;
}
#conteudo .checkbox .checkboxCustom.ui-state-active {
  background-position: 0 -18px !important;
}
#conteudo .checkbox .checkboxCustom.ui-state-default {
  background-position: 0 0;
}
#conteudo .checkbox .ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#accordion,
#accordion2 {
  margin-top: 9px;
}
#accordion .group,
#accordion2 .group {
  zoom: 1;
  float: left;
}
#accordion .header,
#accordion2 .header {
  float: left;
  background: #ffffff;
  border: 1px solid #e6e1da;
  width: 960px;
  padding: 10px 0;
  margin-top: 15px;
}
#accordion .header .icon,
#accordion2 .header .icon {
  background: url("../img/icones/move.png") 0 0 no-repeat;
  width: 60px;
  height: 60px;
  float: left;
  margin: -11px 0 -11px -1px;
  cursor: move;
}
#accordion .header .icon:hover,
#accordion2 .header .icon:hover {
  background-position: -60px 0;
}
#accordion .header .input,
#accordion2 .header .input {
  float: left;
  background: url("../img/backgrounds/input-novo.png") 0 0 repeat-x;
  border-left: 1px solid #e6e1da;
  border-right: 1px solid #e6e1da;
  margin: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
#accordion .header .input input,
#accordion2 .header .input input {
  width: 738px;
  margin: 9px 10px;
  font-style: italic;
  font-size: 15px;
  color: #666666;
}
#accordion .header .arrow,
#accordion2 .header .arrow {
  background: url("../img/icones/accordion.png") 0 0 no-repeat;
  width: 60px;
  height: 60px;
  float: right;
  margin: -11px -1px -11px 0;
  cursor: pointer;
}
#accordion .header .arrow:hover,
#accordion2 .header .arrow:hover {
  background-position: -60px 0;
}

#accordion .header .excluir,
#accordion2 .header .excluir {
  background: url("../img/icones/excluir.png") 0 0 no-repeat;
  width: 60px;
  height: 60px;
  float: right;
  margin: -11px -1px -11px 0;
  cursor: pointer;
}
#accordion .header .excluir:hover,
#accordion2 .header .excluir:hover {
  background-position: -60px 0;
}

#accordion .header.ui-accordion-header-active .icon,
#accordion2 .header.ui-accordion-header-active .icon {
  background-position: 0 -60px;
}
#accordion .header.ui-accordion-header-active .icon:hover,
#accordion2 .header.ui-accordion-header-active .icon:hover {
  background-position: -60px -60px;
}
#accordion .header.ui-accordion-header-active .arrow,
#accordion2 .header.ui-accordion-header-active .arrow {
  background-position: 0 -60px;
}
#accordion .header.ui-accordion-header-active .arrow:hover,
#accordion2 .header.ui-accordion-header-active .arrow:hover {
  background-position: -60px -60px;
}
#accordion .body,
#accordion2 .body {
  float: left;
  background: #ffffff;
  width: 920px;
  border: 1px solid #e6e1da;
  border-top: 1px solid #ffffff;
  padding: 10px 20px 20px 20px;
  margin-bottom: 15px;
  height: auto!important;
}
#accordion .body .texto,
#accordion2 .body .texto {
  float: left;
}
#accordion .body .imagem,
#accordion2 .body .imagem {
  float: right;
  margin: 0 68px 0 0;
}
#accordion .body .imagem span,
#accordion2 .body .imagem span {
  display: block;
  font-size: 13px;
  color: #666666;
  line-height: 110%;
}
#accordion .body .imagem label,
#accordion2 .body .imagem label {
  margin-bottom: 20px;
}
#accordion .body label,
#accordion2 .body label {
  font-size: 18px;
  color: #333333;
  display: block;
  margin: 4px 0 3px 0;
}
#accordion .body .textarea,
#accordion2 .body .textarea {
  background: url("../img/backgrounds/textarea.png") 0 0 repeat-x;
  display: inline-block;
  border-left: 1px solid #e6e1da;
  border-right: 1px solid #e6e1da;
  margin: 0 0 10px 0;
}
#accordion .body .textarea textarea,
#accordion2 .body .textarea textarea {
  font-style: italic;
  font-size: 15px;
  color: #666666;
  width: 520px;
  padding: 10px;
  height: 90px;
}
#accordion .body .input,
#accordion2 .body .input {
  background: url("../img/backgrounds/input-novo.png") 0 0 repeat-x;
  display: inline-block;
  border-left: 1px solid #e6e1da;
  border-right: 1px solid #e6e1da;
  margin: 0 0 10px 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
#accordion .body .input input,
#accordion2 .body .input input {
  width: 520px;
  margin: 9px 10px;
  font-style: italic;
  font-size: 15px;
  color: #666666;
}
#accordion .body .quadro,
#accordion2 .body .quadro {
  width: 240px;
  height: 260px;
  background: #fbf8f4;
  border: 1px solid #e6e1da;
}
#accordion .body .quadro img,
#accordion2 .body .quadro img {
  width: 240px;
  height: 260px;
}
/*select*/
.dk_container {
  background: url("../img/backgrounds/select.png") 0 0 repeat-x;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 18px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.perfil2 .dk_container {
  float: right;
  margin: 0 10px 0 0;
}
.dk_container a {
  cursor: pointer;
  text-decoration: none;
}
.dk_toggle {
  background: url('../img/icones/dk_arrows.png') 98% center no-repeat;
  color: #666666;
  padding: 8px 45px 9px 10px;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  width: 487px!important;
}
.perfil2 .dk_toggle {
  width: 245px!important;
}
#perfilCustomizacao .dk_toggle {
  width: 39px!important;
  background-position: 86% 0;
}
#perfilCustomizacao .preVisu {
  float: right;
}
#perfilCustomizacao .preVisu p {
  font-size: 18px;
  color: #333333;
  float: left;
  margin: 7px 4px 7px 0;
}
#perfilCustomizacao .preVisu .dk_toggle {
  width: 443px!important;
  background-position: 98% 0;
}
#perfilVisualizacao .dk_toggle {
  width: 243px!important;
  overflow: hidden;
}
#perfilVisualizacao .dk_toggle .dk_label {
  width: 243px!important;
  display: block!important;
  white-space: nowrap;
  overflow: hidden;
}
.dk_open {
  z-index: 10;
}
.dk_options a {
  padding: 8px 10px;
  color: #666666;
}
.dk_options li:last-child a {
  border-bottom: none;
}
.dk_options a:hover,
.dk_option_current a {
  background-color: #fab02d;
  border-bottom-color: #004c72;
  color: #fff;
  text-decoration: none;
}
.dk_options_inner {
  border: 1px solid #8c8c8e;
  color: #333;
  max-height: 250px;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}
.dk_container {
  display: none;
  float: left;
  position: relative;
}
.dk_container a {
  outline: 0;
}
.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.dk_open {
  position: relative;
}
.dk_open .dk_options {
  display: block;
}
.dk_open .dk_label {
  color: inherit;
}
.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
.dk_options a,
.dk_options a:link,
.dk_options a:visited {
  display: block;
}
.dk_options_inner {
  overflow: auto;
  position: relative;
}
.dk_touch .dk_options {
  overflow: hidden;
}
.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}
.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}
/*file upload*/
.fileinput-button {
  position: relative;
  overflow: hidden;
  background: url("../img/botoes/selecionar-imagem.png") 0 0 no-repeat;
  width: 191px;
  height: 38px;
  margin: 25px 0 0 0;
  cursor: pointer;
}
.fileinput-button:hover {
  background-position: 0 -38px;
}
.fileinput-button:active {
  background-position: 0 -76px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
/*Visualizacao*/
.janela{
  border:0;
  float: left;
  width: 620px;
  overflow: hidden;
}
#quizVisualizacao{
  float: left;
  width: 620px;
  height: 400px;
}
#quizVisualizacao #nome{
  font-family: 'Conv_Amaranth-Bold';
  margin: 13px 19px;
}
#quizVisualizacao #texto{
  float: left;
  width: 315px;
  margin: 0 0 0 20px;
}
#quizVisualizacao .titulo{
  font-family: 'Conv_Amaranth';
  letter-spacing: -1px;
  line-height: 120%;
}
#quizVisualizacao .subtitulo{
  font-family: 'Conv_Amaranth-Italic';  
  line-height: 120%;
  text-decoration: underline;
}
#quizVisualizacao .respostas{
  font-family: 'Conv_Amaranth';
  line-height: 120%;
  margin: 19px 0;
}
#quizVisualizacao .respostas td{
  vertical-align: top;
  padding: 0 3px 10px 3px;
}
#quizVisualizacao #imagem{
  overflow: hidden;
  float: right;
  border: 2px solid #333333;
  margin: 2px 16px 0 0;
}
#quizVisualizacao #botoes{
  float: left;
  width: 580px;
  margin: 20px;
  bottom: 0;
}
#quizVisualizacao #botoes a{
  width: 110px;
  height: 40px;
  font-family: 'Conv_Amaranth';
  font-size: 15px;
  text-align: center;
  line-height: 270%;
}
#quizVisualizacao #anterior{
  float: left;
}
#quizVisualizacao #proximo{
  float: right;
}
#quizVisualizacao #chamaResultado{
  float: right;
  display: none;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:620px;
  position:relative;
}
#slideshow #slidesContainer .slide, #slideshow #slidesContainer .slide-resultado {
  margin:0 auto;
  width:600px; /* reduce by 20 pixels to avoid horizontal scroll */
}
#quizVisualizacao.resultados{
	display:none;
}
#quizVisualizacao .resultado .descricao{
  letter-spacing: -1px;
  line-height: 120%;
  margin: 5px 0 20px;
  font-family: 'Conv_Amaranth';
}
#quizVisualizacao .resultado .saibaMais{
  font-family: 'Conv_Amaranth';
}
#quizVisualizacao #botoesResultado{
  float: left;
  margin: 0 0 10px 0;
  width: 280px;
  bottom: 0;
  position: fixed;
}
#quizVisualizacao #botoesResultado a{
  height: 40px;
  font-family: 'Conv_Amaranth';
  font-size: 15px;
  text-align: center;
  line-height: 270%;
}
#quizVisualizacao #botoesResultado a.anterior{
  float: left;
  width: 160px;
}
#quizVisualizacao #botoesResultado a.proximo{
  float: right;
  width: 110px;
}
/*usuarios*/
#conteudo .usuarios .box tbody td {
  border:0;
}
.usuarios .input {
  background: url("../img/backgrounds/input-novo.png") 0 0 repeat-x;
  display: inline-block;
  border-left: 1px solid #e6e1da;
  border-right: 1px solid #e6e1da;
  margin: 0 0 10px 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.usuarios .input input {
width: 520px;
margin: 9px 10px;
font-style: italic;
font-size: 15px;
color: #666666;
}
.usuarios p{
  color:#333;
  font-size: 18px;
  margin:0 0 10px 0;
}
.btn-criar-usuario{
  background: url(../img/botoes/usuarioForm.png) 0 0 no-repeat;
  width: 173px;
  height: 50px;
  float: left;
  border: 0;
  outline: 0;
  margin:0;
  padding: 0;
}
.btn-editar-usuario{
  background: url(../img/botoes/usuarioForm.png) 0 -50px no-repeat;
  width: 173px;
  height: 50px;
  float: left;
  border: 0;
  outline: 0;
  margin:0;
  padding: 0;
}
.btn-criar-quiz{
  background: url(../img/botoes/quizForm.png) 0 0 no-repeat;
  width: 173px;
  height: 50px;
  float: left;
  border: 0;
  outline: 0;
  margin:0;
  padding: 0;
}
.btn-editar-quiz{
  background: url(../img/botoes/quizForm.png) 0 -50px no-repeat;
  width: 173px;
  height: 50px;
  float: left;
  border: 0;
  outline: 0;
  margin:0;
  padding: 0;
}
.quadro{
	position: relative;
}
#imagem-preview{
	position: relative;
}
.carregando{
	position: absolute;
	left: 0;
	top: 0;
}
.content .descricao{
	display:block;
	margin-top:10px;
	color:#666666;
	font-size:13px;
	font-style:italic;
}
.definicoes{
	color:#666666;
	font-size:15px;
	font-style:italic;
	margin:5px 0;
	display: inline-block;
	width: 100%;
	position:relative;
}
.definicoes input[type='radio']{
    opacity: 0;
    width: 22px;
	height:22px;
	position:absolute;
	top:0;
	left:0;
	cursor: pointer;
}
.definicoes input[type="radio"]+label{
	background:url('../img/botoes/radio.png') left top no-repeat;
    margin: 0;
    clear: none;
    padding: 1px 0 1px 35px;    	
}
.definicoes input[type='radio']:checked+label{
	background:url('../img/botoes/radio.png') 0 -22px no-repeat;
}
.content .excluir{
	background:url('../img/botoes/excluir.png') 0 0 no-repeat;
	width:42px;
	height:38px;
	position:absolute;
	z-index:5;
	bottom:-63px;
	right:10px;
}
form{
	position:relative;
}